.productDetailsPage {
  .pageWrapper {
    padding: 0 24px 30px;
  }
  .productActions {
    display: flex;
    justify-content: space-evenly;
    padding: 14px 0;
    margin-bottom: 12px;
    border-bottom: 2px solid darkorange;
  }
  .productWindow {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    width: 100%;
    overflow-y: hidden;
    padding: 10px;
  }
}
