$primaryRed: #740d30;
$primaryBlue: #131b30;
$secondaryBlue: #007165;
$primaryOrange: #fc4f00;
$primaryGray: #444c4f;
$secondaryGray: #8d919c;
$primaryGreen: green;
$white: #ffffff;
$accentError: #ff0000;

:export {
  primaryRed: $primaryRed;
  primaryBlue: $primaryBlue;
  secondaryBlue: $secondaryBlue;
  primaryOrange: $primaryOrange;
  primaryGray: $primaryGray;
  primaryGreen: $primaryGreen;
  white: $white;
  accentError: $accentError;
}
